.CommunityPostWrite {
	display: flex;
	justify-content: space-evenly;
}

.write_wrap {
	background-color: white;
	width: 50vw;
	height: auto;
	margin: 1.5rem 0;
	border-radius: 0.5rem;
	padding: 1rem 2rem;
}

.write_wrap > p {
	margin: 0.5rem 0 1.5rem 0;
	font-size: 25px;
}

.write_type {
	margin-bottom: 0.5rem;
	height: 25px;
	border-color: lightgray;
}

.write_title {
	font-size: 22px;
	width: 100%;
	margin-bottom: 0.5rem;
	padding: 0.3rem 0.5rem;
	border-color: lightgray;
}

.write_content {
	resize: none;
	font-size: 18px;
	background-color: #dcdada;
	margin: 0.5rem 0 15px 0;
	padding: 1.5rem 1rem;
	width: 100%;
	height: 50vh;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 0.5rem;
}

.write_submit_wrap {
	text-align: end;
}

.write_submit {
	width: 100px;
	height: 40px;
	border-radius: 0.5rem;
	border-color: azure;
}
