body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	min-height: 100%;
	height: 1px;
}

#root {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: inherit;
}

@font-face {
	font-family: "Reem Kufi Fun";
	src: url(./fonts/ReemKufiFun-Bold.ttf);
}

@font-face {
	font-family: "Jua";
	src: url(./fonts/Jua-Regular.ttf);
}

@font-face {
	font-family: "Noto Sans KR";
	src: url(./fonts/NotoSansKR-Regular.otf);
}

:root {
	--font-Reem-Kufi-Fun: "Reem Kufi Fun", sans-serif;
	--font-Jua: "Jua", sans-serif;
	--font-Noto-Sans-KR: "Noto Sans KR", sans-serif;
}

span {
	font-family: var(--font-Noto-Sans-KR);
}
