/* .tip {
    border: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 0.25rem;
    padding: 0 1rem;
}

.write {
    display: flex;
    height: 8vh;
}

.write > textarea {
    flex:1;
}

.edit {
    margin-bottom: 1.5rem;
    text-align: end;
}

.likeAndTime {
    display: flex;
    justify-content: space-between;
}

.writeEdit {
    display: flex;
    height: auto;
}

.writeEdit > textarea {
    flex:1;
} */

textarea {
	resize: none;
}

.tip {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
}

.tip_name {
	margin: 0.5rem 0;
	font-weight: bold;
}

.tip_content {
	margin: 0;
	font-size: 18px;
	word-break: break-all;
}

.tip_createdDate {
	text-align: end;
	margin-bottom: 0.2rem;
	margin-top: 0.5rem;
	color: darkgray;
}

.tool {
	display: flex;
	padding: 0 1rem;
	justify-content: end;
}

.tool > button {
	border-color: azure;
	border-radius: 0.5rem;
}
