.SignUp {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    background-color: white;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    padding: 2rem 7rem;
}

.SignUp > p {
    margin: 1.4rem 0 0 0;
}

.SignUp .submit {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    height: 5vh;
    background-color: lightgrey;
}

.SignUp > button {
    width: 10vh;
    margin-left: auto;
}

.location {
    display: flex;
    margin: 0;
}

.location > select {
    width: 100%;
}