.CocktailDetail {
  display: flex;
  justify-content: space-evenly;
}

.content {
  width: 70vw;
  margin: 1.6rem 0 1.5rem 0;
  padding: 0 1.25rem 1rem 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
}

.inner {
  display: flex;
  height: auto;
  flex: 1;
}

.inner_left {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
}

.cocktail_card {
  background-color: white;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0 0.5rem;
  height: 40vh;
}

.cocktail_image {
  height: 32vh;
  object-fit: contain;
}

.cocktail_icon {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 4rem;
}

.cocktail_icon > p {
  flex: 1;
  margin: 0;
}

.inner_left > p {
  margin: 1rem 0 0 0;
  text-align: center;
}

.cocktail_similar {
  height: 28vh;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail_similar_image {
  height: 25vh;
  width: 18vw;
  object-fit: contain;
}

.inner_right {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
}

.cocktail_recipe {
  background-color: white;
  flex: 1;
  padding: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.25rem;
}

.info {
  display: flex;
  
}

.info_left {
  display: flex;
  flex-direction: column;
  width: 30vh;
  margin: 0 0.5rem;
}

.info_left > p {
  margin: 1rem 0 0.3rem 0;
  background-color: lightgray;
  padding: 0.2rem;
  margin-right: 0.4rem;
}

.info_right{
  display: flex;
  flex-direction: column;
  flex: 1;
}